* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background-color: white;
}
img {
  width: 70px;
}
#header {
  width: 100%;
  display: flex;
  position: fixed;
  top: 1px;
  margin: 10px;
  justify-content: space-between;
  background: white;
  box-shadow: 0 0 8px rgb(10, 10, 10);
  z-index: 300;
}
#header1 {
  display: flex;
  margin: 10px;
  justify-content: center;
  padding: 20 60px;
  background: #dcdcdc;
  color: #40196d;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.header2 {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}
#navbar {
  display: flex;
  align-items: left;
  justify-content: left;
  z-index: 6%;
}
#navbar ul {
  list-style: none;
  padding: 0 20px;
  justify-content: left;
  text-decoration: none;
  color: white;
}
#navbar li {
  list-style: none;
  padding: 0 25px;
  justify-content: center;
  margin-left: 2%;
  color: white;
}
#navbar li a {
  text-decoration: none;
  font-style: initial;
  font-family: monospace;
  font-size: 18px;
}
#navbar1 {
  display: flex;
  justify-content: space-between;
}
#navbar1 ul {
  list-style: none;
  padding: 0 190px;
  margin: 0px;
  justify-content: right;
  text-decoration: none;
}
#navbar1 li {
  list-style: none;
  padding: 0 15px;
  justify-content: right;
  margin: 10px;
}
#navbar1 li a {
  text-decoration: none;
  font-style: initial;
  font-family: monospace;
  font-size: 18px;
}
.first {
  padding: 150px;
  color: hsl(268, 63%, 26%);
  margin: 100px;
  font-size: 29px;
  font-family: sans-serif;
}
.first p {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.btn {
  outline: none;
  position: relative;
  width: 150px;
  padding: 10px 1px;
  align-items: center;
  background-color: #40196d;
  border-radius: 5px;
  outline: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 1px solid white;
}
.log a {
  text-decoration: none;
  color: white;
}
.sub-menu-1 {
  display: none;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}
.menu-bar {
  position: sticky;
  top: 1px;
}
.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: #40196d;
}
.menu-bar ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}
.sub-menu-1 ul li a {
  text-decoration: none;
  color: #40196d;
}
.active,
.sub-menu-1 li:hover {
  background: #40196d;
  border-radius: 5px;
  color: black;
}
.sub-menu-1 {
  display: none;
}
.menu-bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: white;
  margin-top: 15px;
  margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul {
  display: block;
}
.active,
.menu-bar ul li:hover .sub-menu-1 ul li {
  width: 150px;
  padding: 50px;
  border-bottom: 1px dotted black;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.home-gif {
  display: flex;
  justify-content: right;
  position: absolute;
  top: 25%;
  right: 10%;
}
.second {
  padding: 150px;
  color: #40196c;
  margin: 80px;
  font-size: 29px;
  font-family: sans-serif;
}
.second p {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.header2 a {
  text-decoration: none;
  color: #40196c;
}

.header2 a.create {
  color: white;
  background: #40196c;
  width: 150px;
  padding: 10px 15px;
  border-radius: 7px;
} */

/* CORRECTIONS STYLES  */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  box-shadow: 0 0 8px rgb(10, 10, 10);
}

.logo img {
  width: 9rem;
  height: 6rem;
}

.nav .menu_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.nav .menu_list li {
  text-transform: capitalize;
  font-size: 1.2rem;
  cursor: pointer;
}

.nav .menu_list li:hover {
  text-decoration: underline;
  font-weight: 600;
}

.action_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.action_btns button {
  outline: none;
  border: none;
  width: fit-content;
  padding: 1rem 2rem;
  align-items: center;
  background-color: #40196d;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.action_btns button:hover {
  font-weight: 600;
}
